@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tajawal:wght@300;400;500;700&family=Work+Sans:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    direction: rtl;
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    --body-bg-color: #fff;
    --main-nav-text: #42526e;
    --footer-1sr-bg: #333;
    --footer-2nd-bg: #e6e6e6;
    --footer-1st-text: #a6a6a6;
    --footer-2nd-text: #333;
    --sectin-h2-color: #5e2f26;
    --offers-h2-color: #3c4858;
    /* --sec-titl-color: ; */
}

body{
    background-color: var(--body-bg-color);
    
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto 20%;
    grid-template-areas: 
        "header"
        "main"
        "footer"; */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.main-bascket-section{
    border: 1px solid red;
    /* box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%); */
    width: 80vw;
    padding: 1.25rem 3.75rem;
    margin: 15vh auto;
}

.bascket-page-head{
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items:baseline;
    /* padding: ; */
    /* width: fit-content; */
}

.bascket-page-icon,
.bascket-page-title,
.num-of-bought-products{
    padding-left: 0.313rem;
}

.bascket-page-icon{
    /* border: red 1px solid; */
    width: 2.5vw;
    display: flex;
    justify-content: baseline;
}
 
.bascket-page-icon img{
    /* border: blue 1px solid; */
    width: 100%;
}

.bascket-page-title{
    /* padding-left: 10px; */
    font-size: 1.625rem;
    font-weight: 700;
    color: var(--main-nav-text);
}

.num-of-bought-products{
    font-size: 0.813rem;
    font-weight: 500;
    color: #5e6a7e;
}

.product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    /* border: 1px solid #ebebeb; */
    border: 1px solid red;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.product-card .upper-part{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product-card .upper-part .product-title{
    display: flex;
    color: #303c50
}

.product-card .upper-part .product-title img{
    width: 2.813rem;
    height: 2.625rem;
}

.product-card .upper-part .ttl-price-box p{
    font-style: oblique;
    font-size: 10px;
    font-weight: 600;
    color: #8f9092;
}

.product-card .upper-part .bought-product-price{
    color: #f70008;
}

.product-card .upper-part .price{
    font-size: 1.4rem;
    font-weight: 700;
}

.product-card .lower-part{
    display: flex;
    justify-content: space-between;
}

.product-card .lower-part .notes{
    background-color: #fff9eb;
    border-inline-start: 4px solid #ffd30e;
    /* border-right: 4px solid #ffd30e; */
    border-radius: 3px;
    margin-inline-start: 60px;
    padding: 7px 14px;
    font-size: 12px;
    font-weight: 400;
}

.lower-part .notes span{
    font-weight: 800;
}

.lower-part .notes a{
    /* font-weight: 800; */
    color: #2169f0;
    font-weight: 500;
}

.lower-part .counter{
    display: flex;
    border: 1px solid #6f6e6d;
    color: #6f6e6d;
    font-size: 18px;
    font-weight: 500;
    margin-inline-end: 20px;
    border-radius: 3px;
    height: 8vh;
}

.lower-part .counter .num{
    border-left: 1px solid #6f6e6d;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
}

.lower-part .counter .plus-minus{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
}

.lower-part .counter .plus-minus .plus{
    border-bottom: 1px solid #6f6e6d;
    padding: 0px 2px;
    display: flex;
    align-items: center;
}

.lower-part .counter .plus-minus .minus{
    /* border-bottom: 1px solid #6f6e6d; */
    padding: 2px;
    display: flex;
    align-items: center;
}


