@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Tajawal:wght@300;400;500;700&family=Work+Sans:ital,wght@0,100;0,200;0,500;0,700;0,800;1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    direction: rtl;
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    --body-bg-color: #fff;
    --main-nav-text: #42526e;
    --footer-1sr-bg: #333;
    --footer-2nd-bg: #e6e6e6;
    --footer-1st-text: #a6a6a6;
    --footer-2nd-text: #333;
    --sectin-h2-color: #5e2f26;
    --offers-h2-color: #3c4858;
    /* --sec-titl-color: ; */
}

body{
    background-color: var(--body-bg-color);
    
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto 20%;
    grid-template-areas: 
        "header"
        "main"
        "footer"; */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ====== HEADER ====== */

header{
    /* grid-area: header; */
    /* background-color: #f9fafc; */
    display: flex;
    flex-direction: column;
}

.main-nav{
    background-color: #f9fafc;
    display: flex;
    justify-content: space-evenly;
}

.main-nav a{
    border-right: 1px solid #e5e9f2;
    /* border-bottom: 1px solid #e5e9f2;
    border-left: 1px solid #e5e9f2; */
    padding: 5px 20px;
    font-size: 0.9rem;
    /* font-weight: 700; */
    color: var(--main-nav-text);
    /* display: inline-block;
    text-align: center; */
}

.main-nav .signup-now{
    font-weight: 700;
}

/* .nav-icons{
    border: 1px solid red;
} */

.main-nav img{
    width: 18px;
    height: 18px;
}

.header-wrapper{
    /* border: red 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo img{
    /* border: solid 1px blue; */
    /* width: 98px;
    height: 90px; */
    width: 6rem;
    height: 5.8rem;
}

.rest-wrapper{
    /* border: chartreuse 1px solid; */
    width: 78.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rest-wrapper .search-area{
    width: 91%;
    /* border: solid 1px blue;
    background-color: #eff2f7;
    border-radius: 34px; */
}

input[type="search"]{
    border: none;
    /* width: 100%; */
    width: 100%;
    background: #eff2f7;
    border-radius: 34px;
    padding: 10px ;
}

input[type="search"]::placeholder{
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    padding: 0 5px;
}

.bascket-btn{
    background-color: #eff2f7;
    padding: 10px 10px;
    border-radius: 50%;
}

.bascket-icon{
    color: var(--main-nav-text);
    font-size: 1.2rem;
}

.search-area{
    position: relative;
}

.magnifying_glass-icon{
    /* border: red 1px solid; */
    font-size: 1.2rem;
    color: #abacae;
    /* float: left; */
    /* z-index: 100; */
    margin-top: -19px;
    position: absolute;
    top: 26px;
    left: 13px;
}

/* ====== MAIN ====== */

main{
    margin: 1.5rem auto;
}

/* === Slider === */

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23rem;
    width: 95%;
    margin: auto;
}

.slider {
    width: 100%;
    height: inherit;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 366px;
    margin-right: 0px;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
}

.slide__img{
    width: 100%;
    height: inherit;
}

.slide a {
    background: none;
    border: none;
}

a.slide__prev,
.slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next,
.slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid rgba(0, 0, 0, 0.5);
    border-width: 0 3px 3px 0;
    border-radius: 0 2px 2px 0;
    padding: 3px;
    box-sizing: border-box;
}

.slider::before,
.slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
}

.slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    background-color: rgba(133, 133, 133, 0.5);
    margin: 0 10px 0 10px;
}

/* === Viweing Section === */

.section-viewing-container{
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    width: 95%;
    /* margin: auto; */
    /* border: red 1px solid; */
}

.section-viewing-container h2{
    color: var(--sectin-h2-color);
    font-size: 1.4em;
    padding-right: 2rem;
}

.section-veiwer{
    width: 95%;
    margin: auto;
    /* border: black 1px solid; */
    display: flex;
    justify-content: center;
    flex-shrink: 7;
}

.section-card{
    width: calc(100%/7);
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 3px 3px -2px rgb(0 0 0 / 12%), 0 3px 4px 0 rgb(0 0 0 / 14%);
    margin: 0.313rem 0.938rem;
}

/* === CURRENT OFFERS === */

.current-offers-container{
    margin: 2.5rem auto;
    /* padding-bottom: 10px; */
    display: flex;
    flex-direction: column;
    width: 95%;
    /* border: red 1px solid; */
}

.curr-offer-t{
    /* border: green 1px solid; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.563rem;
}

.curr-offer-t h2{
    font-weight: 700;
    line-height: 1em;
    color: var(--offers-h2-color);
    text-transform: none;
    padding-right: 2rem;
}

.curr-offer-t span a{
    color: #0052cc;
    padding-left: 1.563rem;
}

.current-offers{
    width: 95%;
    margin: auto;
    /* border: blue 1px solid; */
    display: flex;
    justify-content: center;
    flex-shrink: 5;
}

.offer-card{
    border: 1px solid #e2dfdf;
    width: calc(100%/5);
    border-radius: 5px;
    margin: 0.313rem 0.313rem;
    /* margin: 0 0.313rem; */
} 

.book-interface{
    width: 100%;
    height: 50%;
    /* border: red 1px solid; */
}

.book-interface img{
    width: 100%;
    height: 100%;
    /* border: blue 1px solid; */
}

.offer-card-lable{
    display: flex;
    justify-content: space-between;
    /* border: blue 1px solid; */
    width: 58%;
    margin: 0.25rem auto 0 auto;
}

.offer-book-name{
    font-size: 0.938rem;
    text-align: center;
}

.offer-book-cost{
    text-align: center;
    margin-top: 20px;
}

.offer-book-cost p:first-child{
    color: #f70008;
}

.offer-book-cost p:first-child span{
    font-size: 1.5rem;
    font-weight:900;
}

.offer-book-cost p:last-child{
    font-size: 0.625rem;
    color: #c0ccda;
}

.offer-card-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.3rem;
    /* position: relative;
    bottom: 0; */
    /* border: 1px solid blue; */
}

.offer-card-icons img:nth-child(2){
    width: 3.125rem;
    height: 3.125rem;
}

.offer-card-icons img{
    width: 1.75rem;
    height: 1.75rem;
}

/* ====== FOOTER ====== */

footer{
    display: flex;
    flex-direction: column;
}

.footer-1st{
    background-color: var(--footer-1sr-bg);
    /* color: #fff; */
    padding: 30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.footer-1st h3{
    color: var(--footer-1st-text);
    font-size: 16px;
    border-bottom: 1px solid #444;
    padding-bottom: 2px;
}

.footer-1st a{
    color: #fff;
    line-height: 1;
    font-size: 0.9rem;
}

.footer-1st li{
    margin-top: 8px;
}

.lib-links{
    margin-right: 15px;
    width: 17%;
}

.subscribe{
    width: 25%;
}

.subscribe-container{
    background-color: #484848;
    margin-top: 4px;
    padding: 7px 0;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
}

.subscribe-container input[type="email"]{
    background-color: #eff2f7;
    max-width: inherit;
    width: 100%;
    margin: 4px 0;
    padding: 7px;
    line-height: 1.86;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.subscribe-container input[type="email"]::placeholder{
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    padding-right: 5px;
}

.lock-icon{
    font-size: 1.2rem;
    color: #c0c0c0;
    /* float: left; */
    /* z-index: 100; */
    /* margin-top: -19px; */
    position: absolute;
    top: 20px;
    left: 20px;
}

.subscribe-container input[type="submit"]{
    float: left;
    background-color: #fff;
    margin: 8px 2px 2px;
    padding: 16px 16px;
    border-radius: 4px;
    border: none;
    min-width: 50px;
    font-family: 'Tajawal', 'Poppins', 'Work Sans', sans-serif;
    color: #3c4858;
}

/* .subscribe-container input[type="submit"]{

} */

.lib-links li span{
    font-weight: 800;
    font-size: 1.4rem;
}

.footer-2nd{
    background-color: var(--footer-2nd-bg);
    color: var(--footer-2nd-text);
}


/* ========== Resbonsive ========== */


@media (max-width: 484px) {
    .col-xs-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-xs-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xs-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-xs-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-xs-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-xs-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 486px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-flex {
        display: flex;
    }

    .d-sm-block {
        display: block;
    }
}

@media (min-width: 720px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .d-md-block {
        display: block !important;
    }
}

@media (min-width: 960px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}