/* ------ Global style of modals ------ */
.modal{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    overflow-y: auto;     /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); 
}

.modal .modal__container{
    background-color: var(--body-bg-color);
    position: relative;     /* to implement Animation well */
    margin: auto;
    padding-block: 16px 32px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    animation-name: animatetop;
    animation-duration: 0.4s;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

.modal .modal__container .modal__header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--form-input-background);
    padding-block-end: 12px     !important;
    /* font-size: 20px; */
}

.modal .modal__container .modal__header .modal__title{
    width: 90%;
    font-size: larger;
}

/* The Close Button */
.modal .modal__container .modal__header .close {
    color: var(--light-gray-color);
    font-size: larger;
}

.modal .modal__container .modal__header .close:hover,
.modal .modal__container .modal__header .close:focus {
    color: var(--red-color);
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal .modal__container .modal__content{
    padding-top: 3.125em        !important  /* = 50px */;
}

.modal .modal__container .modal__content .modal__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625em /* = 10px */;
}

.modal .modal__container .modal__content .modal__form .modal__input{
    width: 80%;
    position: relative;
}

.modal .modal__container .modal__content .modal__form .modal__input > label,
.modal .phone__form .county__code > label{
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 0.625em /* = 10px */;
    font-weight: 500;
    color: var(--form-lable-color);
}

.modal .modal__container .modal__content .modal__form .modal__input > input{
    width: 100%;
    padding: 14px 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    /* background: var(--form-input-background); */
}

.modal .modal__container .modal__content .modal__form .modal__input > 
    input[type=text], 
    input[type=email], 
    input[type=password], 
    input[type=number]
    {
        background: var(--form-input-background);
    }

.modal .modal__container .modal__content .modal__form a{
    color: var(--blue-color);
    font-weight: 600;
    position: relative;
}

.modal .modal__container .modal__content .modal__form .modal__input > input[type=submit]{
    padding: 10px 8px;
    font-family: var(--main-font);
    font-size: 16px;
}

/* ------ Login Modal content ------ */
.modal .login__container{
    margin-block-start: 100px;
}

.modal .modal__container .modal__content .modal__form .login-modal__link{
    top: -98px;
    right: 33%;
}

.modal .modal__container .modal__content .modal__form .modal__input .btn--login{
    background-color: var(--red-color);
    color: var(--wight-color);
    font-weight: 600;
    box-shadow: 0px 4px 6px #d1d1d1;
    cursor: pointer;
}

.modal .modal__container .modal__content > p{
    margin-block: 20px 10px;
    font-weight: 500;
}

.modal__content .btn__to-registe{
    width: 55%;
    padding: 10px 8px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    background-color: var(--wight-color);
    box-shadow: 0px 4px 8px 2px #d1d1d1;
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.modal__content .btn__to-registe:hover{
    color: var(--wight-color);
    background: var(--main-nav-color);
}

/* ------ Register Modal content ------ */
.modal .register__container{
    margin-block: 10px;
}

.modal .modal__container .modal__content .modal__form .phone__form{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 0.625em;
}

.modal .modal__container .modal__content .modal__form .phone__form .modal__input > input{
    float: right;
}

.modal .phone__form .county__code{
    width: 32%;
    background-color: var(--form-input-background);
    color: var(--form-lable-color);
    position: relative;
    /* display: flex;
    flex-direction: column; */
    outline: none;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.modal .phone__form .county__code > select{
    width: 100px;
    direction: ltr;
    background: transparent;
    position: absolute;
    top: 20px;

    /* to hide the default arrow of select */
    /* -moz-appearance:none; */
    /* -webkit-appearance:none; Safari and Chrome */
    /* appearance:none; */
}

/* Re-Styling some of default styles of dd.css of msDropDown JQuery Pluggin to implement country phone code select */
.dd{
    border: none                !important;
}

.ddcommon{
position: absolute              !important;
    cursor: pointer             !important;
    top: 15px                   !important;
    left: 6px                   !important;
}

.dd .ddTitle{
    background: transparent     !important;
    color: var(--black-color)   !important;
}

.dd .ddTitle .ddTitleText{
    padding: 0                  !important;
    direction: ltr              !important;
}

.ddlabel{
    padding-inline-end: 34px    !important;
}

.dd .divider{
    border: none                !important;
}

.dd .ddcommon .borderRadius{
    border: none                !important;
}

/* Appearing flags images inside select */
.flag{
    padding: 0                  !important;
    margin: 0 5px 0 0;
    width: 16px; 
    height: 11px;
    background: url(../../images/msdropdown/icons/flagssprite_small.png) no-repeat;
}

/* Styling options of select of country phone code */
.dd .ddChild{
    direction: ltr;
    left: -6px                  !important;
    top: 29px                   !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.dd .ddChild li{
    padding: 4px                !important;
}

.ddcommon .ddChild{
    width: 113%                 !important;
}

/* End Styling dd.css */

.modal .modal__container .modal__content .modal__form .p__of-phone-code,
.modal .modal__container .modal__content .modal__form .modal__policy{
    width: 80%;
    text-align: right;
    color: var(--form-lable-color);
}

.modal .modal__container .modal__content .modal__form .p__of-phone-code{
    font-size: 12px;
}

.modal .modal__container .modal__content .modal__form .modal__input .btn--register{ 
    background-color: var(--slight-gray-blue-color);
    color: var(--form-lable-color);
    font-weight: 500;
    cursor: pointer;
}

.modal .modal__container .modal__content .modal__form .modal__policy{
    margin-block: 6px;
    font-weight: 100;
    font-size: 14px;
}

.modal .modal__container .modal__content .modal__form .modal__policy a{
    font-weight: 400;
}

/* Styling Checkbox */
.modal .modal__container .modal__content .modal__form .modal__policy .checkbox__container{
    height: 32px;
    line-height: 32px;
    display: block;
    position: relative;
    padding-inline-start: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox__container:first-child{
    margin-block-end: 16px;
}

.modal .modal__container .modal__content .modal__form .modal__policy .checkbox__container > label{
    display: inline-block;
    vertical-align: middle;
    /* line-height: 18px; <-- adjust this */
}

    /* Hide the browser's default checkbox */
.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

    /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 92.5%;;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 4px;
}

    /* On mouse-over, add a grey background color */
.checkbox__container:hover input ~ .checkmark {
    background-color: #ccc;
}

    /* When the checkbox is checked, add a blue background */
.checkbox__container input:checked ~ .checkmark {
    background-color: #0052cc;
}

    /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

    /* Show the checkmark when checked */
.checkbox__container input:checked ~ .checkmark:after {
    display: block;
}

    /* Style the checkmark/indicator */
.checkbox__container .checkmark:after {
    left: 33%;
    top: 25%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End Styling Chekcbox */

.modal .modal__container .modal__content .do__login{
    margin-block-start: 48px;
    color: var(--black-color);
}

.modal .modal__container .modal__content .do__login #re_login{
    color: var(--blue-color);
    position: relative;
    cursor: pointer;
}

.modal .modal__container .modal__content .do__login #re_login .icon__to-login{
    position: absolute;
    top: 2px;
    left: -16px;
}