/* login modal */
.modal{
    background: #fff;
    position: fixed;
    top: 16%;
    width: 40%;
    left: 30%;
    right: 30%;
    color: var(--main-color);
    display: none;
    /* display: block; */
    z-index: 999999;
    box-shadow: 0 0 20px 2220px rgb(0 0 0 / 84%);
}

#modal__img{
    width: 92vw;
    height: 96vh;
    left: 4%;
    right: 4%;
    /* margin: auto; */
    top: 2%;
    padding: 30px;
    border-radius: 5px;
}

#modal__img .imges{
    width: 100%;
}

#modal__img .imges .img__item{
    width: 5%;
    margin-top: 30px;
}
/*
.modal__img{
    /* background: rebeccapurple; 
    width: 39%;
    height: 70vh;
    margin: auto;
    display: flex;
    overflow: hidden;
    justify-content: start;
}
*/
.modal--top{
    top: 0% !important;
}

.modal .modal__container{
    text-align: center;
    padding: 15px 0;
}

.modal .modal__title{
    padding-bottom: 12px;
    border-bottom: 2px solid #eff2f7;
    font-size: 20px;
}

.modal .modal__item{
    padding-top: 20px;
}

#modal__login .modal__item{
    padding-top: 50px;
}

.modal .modal__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.modal .modal__form a{
    display: block;
    width: 67%;
    text-align: left;
    position: relative;
    top: -45px;
    left: -23px;
    color: #2c61bd;
    font-weight: 600;
}

.modal .modal__input{
    width: 75%;
    padding: 6px;
    background: #eff2f7;
    border-radius: 4px;
    display: block;
    height: 45px;
    position: relative;
}

.modal .modal__input > label{
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 14px;
    color: #98A2AE;
}

.modal .modal__input > input{
    width: 100%;
    height: 35px;
    background: transparent;
    border: 0;
    outline: 0;
}

.modal .modal__label{
    display: block;
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-size: 14px;
}

.modal .modal__phone{
    display: flex;
    width: 75%;
    justify-content: space-between;
}

.modal .modal__phone > .modal__input{
    width: 65%;
}

.modal .modal__phone > div{
    background: #eff2f7;
    border-radius: 4px;
    width: 32%;
    position: relative;
    text-align: right;
    font-size: 14px;
}

.modal .modal__phone label{
    color: #98A2AE;
}

.modal .modal__phone > div > select{
    background: transparent;
    border: 0;
    position: absolute;
    bottom: 3px;
    right: 0;
    color: var(--main-color);
    font-size: 16px;
    outline: 0;
}

.modal p{
    text-align: right;
    width: 100%;
    margin-right: 26.5%;
    color: var(--main-color);
}

.modal .modal__policy{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: start;
    gap: 10px;
}

.modal .modal__policy > div{
    color: #98A2AE;
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.modal .modal__policy > div > a{
    position: static;
    text-align: right;
    color: #0052cc;
    margin-right: 5px;
}

.modal .modal__policy > div > input{
    width: 22px;
    height: 19px;
    margin-left: 10px;
}

.btn{
    width: 55%;
    padding: 10px;
    background-color: #fff;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    border: 0;
    box-shadow: 0px 2px 8px #d1d1d1;
    border-radius: 4px;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-hov:hover{
    color: #fff;
    background: #42526e;
}

.btn--blue{
    width: 13%;
    background: #0052cc;
    color: #fff;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.btn--red{
    background-color: #D4050B;
    color: #fff;
}

.btn--darkgray{
    background-color: #E5E9F4;
    color: #98A2AE;
    box-shadow: 0 0;
}

.btn--md{
    width: 75%;
    margin-block-start: -42px;
    margin-block-end: 54px;
}

.btn--no-bottom{
    margin-bottom: 0;
}

.btn--83w{
    width: 83%;
}

.btn--red > img{
    position: relative;
    top: 5px;
    left: 12px;
}

.btn--select{
    width: 15%;
    color: var(--main-color);
    background-color: #EFF2F7;
    box-shadow: none;
    padding: 11px;
    margin-bottom: 0;
}

.btn--100w{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.close{
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 24px;
}

.close:hover,
.close:focus{
color: #d4050b;
text-decoration: none;
cursor: pointer;
}